In [1]:
import os

In [2]:
# get the path of the current file
print(os.getcwd())

c:\Users\grepa\iCloudDrive\Desktop\PhD_Learning\Independent Studies\Process_Data_Project\CTGAN-main\Revise_PAN

In [3]:
# change the current working directory
os.chdir('c:\\Users\\grepa\\iCloudDrive\\Desktop\\PhD_Learning\\Independent Studies\\Process_Data_Project\\CTGAN-main')

In [4]:
from ctgan import CTGAN
from ctgan import load_demo

In [5]:
real_data = load_demo()
print(real_data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [6]:
real_data.shape

(32561, 15)

In [7]:
real_data["native-country"].value_counts()

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [8]:
# Names of the columns that are discrete
discrete_columns = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country',
    'income'
]

In [ ]:
ctgan = CTGAN(epochs=10, cuda=True)
ctgan.fit(real_data, discrete_columns)

# Create synthetic data
synthetic_data = ctgan.sample(1000)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [10]:
synthetic_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,40,Self-emp-inc,116755,Masters,9,Separated,?,Not-in-family,White,Male,-34,-8,30,United-States,>50K
1,38,Self-emp-not-inc,158748,11th,8,Never-married,Sales,Husband,White,Female,40,1339,42,United-States,>50K
2,37,Private,76100,Assoc-acdm,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,-23,-6,52,Philippines,>50K
3,46,State-gov,163735,11th,9,Never-married,Craft-repair,Not-in-family,White,Female,-111,-6,23,?,>50K
4,14,Private,276458,Bachelors,5,Never-married,Sales,Unmarried,Black,Male,-24,-4,47,United-States,<=50K